<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.appbroker"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ikon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.appbroker.SplashScreen"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.appbroker.MainScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.appbroker.DisplayAllInvestments"
            android:label="@string/title_activity_display_all_investments"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.appbroker.DisplayMyInvestments"
            android:label="@string/title_activity_display_my_investments"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.appbroker.DisplayMyInvestmentsGraphic"
            android:label="@string/title_activity_display_my_investments_graphic"
            android:screenOrientation="portrait" >
        </activity>
        <service android:name="com.example.appbroker.MyIntentService" >
        </service>
        <activity
            android:name="com.example.appbroker.DisplayMyInteresteds"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.example.appbroker.StockDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>